[Unit]
    Description=Tornado supervisor
[Service]
    ExecStart=/srv/http/autohotkey/lab/tornado_server.py
    SuccessExitStatus=30
    ExecReload=/bin/kill -HUP $MAINPID
    KillSignal=SIGINT
    Restart=always
    Type=simple
    NotifyAccess=all
    User=http

[Install]
    WantedBy=multi-user.target
